@media (max-width: 768px) {
    hr {
        margin: 60px 0;
    }

    /* nav */
    .bottom-nav {
        display: flex;
    }

    /* banner */
    .Subtitle {
        width: 90% !important;
        text-align: left !important;
        left: 5% !important;
        /* Đưa nội dung sang trái */
        top: 50% !important;
        transform: translateY(-50%) !important;
    }

    .Subtitle h2,
    .Subtitle p {
        margin-bottom: 10px !important;
    }

    .Subtitle .btn {
        width: auto !important;
        max-width: 220px;
        display: inline-block !important;
        margin-top: 15px !important;
    }

    /* featured */
    .categories-wrapper {
        display: grid;
        grid-template-areas:
            "clothing sunglasses"
            "clothing sneaker"
            "bags sneaker";
        gap: 15px;
    }

    /* new arrivel */
    .product {
        flex: 0 0 calc(50% - 10px);
    }

    .prev-btn,
    .next-btn {
        background: #ffffff;
        color: #111111;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }

    /* footer */
    .footer {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .email {
        flex-direction: column;
    }

    .footer .contact,
    .footer .contact2,
    .footer .contact3,
    .footer .subscribe {
        width: 100%;
        font-size: 14px;
    }

    .contact2,
    .contact3,
    .subscribe {
        border-top: 1px solid #ccc;
    }

    .btn-container {
        visibility: visible;
        opacity: 1;
        left: 10px;
    }

    .footer2 {
        margin: 0 0 35px 0;
    }

}